.rub-head1 {
  position: relative;
  margin-left: 77px;
  margin-right: 77px;
}
.rub-head1 hr.top {
  width: 30%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 0px;
  background-color: #00162dc0;
  height: 3px;
}
.rub-head1 hr.bottom {
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 0px;
  background-color: #00162dc0;
  height: 3px;
}

.card-body {
  border-radius: 8px;
}

h5 {
  font-size: 15px !important;
  text-align: center;
}

//media queries
@media (min-width: 320px) {
  .card-body {
    width: 290px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 hr.top {
    margin-right: 6px;
  }
  .rub-head1 hr.bottom {
    margin-right: 6px;
  }
}

@media (min-width: 360px) {
  h5 {
    font-size: 18px !important;
  }
  .card-body {
    width: 330px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 {
    margin-left: 77px;
    margin-right: 77px;
  }
    .rub-head1 hr.top {
    margin-right: 17px;
  }
  .rub-head1 hr.bottom {
    margin-right: 17px;
  }
}

@media (min-width: 375px) {
  .card-body {
    width: 345px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 {
    margin-left: 95px;
    margin-right: 95px;
  }
  .rub-head1 hr.top {
    margin-right: 6px;
  }
  .rub-head1 hr.bottom {
    margin-right: 6px;
  }
}

@media (min-width: 410px) {
  .card-body {
    width: 380px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 {
    margin-left: 105px;
    margin-right: 105px;
  }
  .rub-head1 hr.top {
    margin-right: 14px;
  }
  .rub-head1 hr.bottom {
    margin-right: 14px;
  }
}

@media (min-width: 414px) {
  .card-body {
    width: 384px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 hr.top {
    margin-right: 16px;
  }
  .rub-head1 hr.bottom {
    margin-right: 16px;
  }
}

@media (min-width: 445px) {
  h5 {
    font-size: 20px !important;
  }
  .card-body {
    width: 410px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 {
    margin-left: 120px;
    margin-right: 120px;
  }
  .rub-head1 hr.top {
    margin-right: 8px;
  }
  .rub-head1 hr.bottom {
    margin-right: 8px;
  }
}

@media (min-width: 568px) {
  .card-body {
    width: 538px !important;
    margin-bottom: 0rem;
  }

  h5 {
    font-size: 20px !important;
  }

  .rub-head1 {
    margin-left: 180px;
    margin-right: 180px;
  }
  .rub-head1 hr.top {
    margin-right: 12px;
  }
  .rub-head1 hr.bottom {
    margin-right: 12px;
  }
}

@media (min-width: 640px) {
  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .card-body {
    width: 610px !important;
    margin-bottom: 0rem;
  }

  .rub-head1 {
    margin-left: 220px;
    margin-right: 220px;
  }
  .rub-head1 hr.top {
    margin-right: 8px;
  }
  .rub-head1 hr.bottom {
    margin-right: 8px;
  }
}

@media (min-width: 730px) {
  .card-body {
    width: 700px !important;
    margin-bottom: 0rem;
  }

  .rub-head1 {
    margin-left: 230px;
    margin-right: 230px;
  }
  .rub-head1 hr.top {
    max-width: 34px;
    margin-right: 43px;
  }
  .rub-head1 hr.bottom {
    margin-right: 43px;
  }
}

@media (min-width: 768px) {
  .card-body {
    width: 738px !important;
    margin-bottom: 0rem;
  }

  .rub-head1 {
    margin-left: 260px;
    margin-right: 260px;
  }
  .rub-head1 hr.top {
    margin-right: 32px;
  }
  .rub-head1 hr.bottom {
    margin-right: 32px;
  }
}

@media (min-width: 812px) {
  h5 {
    font-size: 24px !important;
  }

  .card-body {
    width: 780px !important;
    margin-bottom: 0rem;
  }

  .rub-head1 {
    margin-left: 280px;
    margin-right: 280px;
  }
  .rub-head1 hr.top {
    margin-right: 22px;
  }
  .rub-head1 hr.bottom {
    margin-right: 22px;
  }
}

@media (min-width: 823px) {
  .card-body {
    width: 790px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 hr.top {
    margin-right: 27px;
  }
  .rub-head1 hr.bottom {
    margin-right: 27px;
  }
}

@media (min-width: 1024px) {
  .card-body {
    width: 990px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 {
    margin-left: 390px;
    margin-right: 390px;
  }
  .rub-head1 hr.top {
    margin-right: 16px;
  }
  .rub-head1 hr.bottom {
    margin-right: 16px;
  }
}

@media (min-width: 1100px) {
  h5 {
    font-size: 27px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .card-body {
    width: 1100px !important;
    margin-bottom: 0rem;
  }
  .rub-head1 {
    margin-left: 440px;
    margin-right: 440px;
  }
  .rub-head1 hr.top {
    width: 35px;
    margin-right: 23px;
  }
  .rub-head1 hr.bottom {
    margin-right: 23px;
  }
}

@media (min-width: 1320px) {
  .card-body {
    width: 1120px !important;
    margin-bottom: 0rem;
  }
}
