
<nav class="navbar navbar-expand-lg bg-dark pt-0">

  <div class="rubai-nav justify-content-end align-self-end">
    <div class="rubai-link">
      <a
        class="dropbtn text-light mx-1"
        tooltip="Home"
        placement="top"
        routerLink="/dashboardadmin/landing"
      >
        <i class="fas fa-home fa-2x" aria-hidden="true"></i>
      </a>
    </div>


    <div class="rubai-link dropdown">
      <a
        class="dropbtn text-light mx-1 js-scroll-trigger" id="navbarDropdown"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        tooltip="Allocations"
        placement="top"
        ><i class="fas fa-tasks fa-2x"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-primo" routerLink="/dashboardadmin/allocateperbranch"
          >Create Allocations
        </a>
        <a class="dropdown-item text-primo" routerLink="/dashboardadmin/viewbranchallocations/viewportallocations"
        (click)="toggleArial()">View Allocations
        </a>
      </div>
    </div>
    <div class="rubai-link dropdown">
      <a
        class="dropbtn text-light mx-1 js-scroll-trigger" id="navbarDropdown"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"

        tooltip="Banking"
        placement="top"
        ><i class="fa fa-coins fa-2x"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-primo" routerLink="/dashboardadmin/postbankingperbranch"
          >Post Banking
        </a>
        <a class="dropdown-item text-primo" routerLink="/dashboardadmin/viewbranchbankings/viewportbankings"
          >View Bankings
        </a>
      </div>
    </div>

    <div class="rubai-link dropdown">
      <a
        class="dropbtn text-light mx-1 js-scroll-trigger" id="navbarDropdown"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"

        tooltip="Investment"
        placement="top"
        ><i class="fas fa-balance-scale fa-2x"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-primo" routerLink="/dashboardadmin/postinvestmentperbranch"
          >Post Investment
        </a>
        <a class="dropdown-item text-primo" routerLink="/dashboardadmin/viewbranchinvestemnts/viewportinvestments"
          >View Investments
        </a>
      </div>
    </div>
    <div class="rubai-link">
      <a
        class="dropbtn text-light mx-1 js-scroll-trigger"
      tooltip="Logout"
      placement="top"
      routerLink="/authpage/loginpage"
      (click)="logMeout()"
    >
      <i class="fas fa-sign-out-alt fa-2x mr-1"></i>        </a>
    </div>
  </div>

</nav>




