.navbar {
  margin-top: 0px !important;
  padding: 0rem 0rem !important;
     border-top-color: #00162dc0 !important;
  box-shadow: none !important;
  }

.dropbtn {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 0rem;
  margin-right: 0rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #d9dbddbb;
  min-width: 140px;
  max-width: 180px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  padding: 3px 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 3px;
  font-size: .8rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover, a:focus, a:active {
  background-color: transparent;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown:hover::after .dropdown-menu {
  content: "";
  display: none;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
.dropdown-item {
  background-color: none;
}

.rubai-nav{
  display: inline-block;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: .5rem;
}
.rubai-link{
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: inline-block;
}
.rubai-link:focus, .rubai-link:active{
color: #16aa8af2;
}


//media queries
@media (min-width: 320px) {
  .rubai-nav{
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
    }
@media (min-width: 360px) {
  .rubai-nav{
    margin-left: 5.25rem !important;
    margin-right: 5.25rem !important;
  }
    }


@media (min-width: 375px) {
  .rubai-nav{
    margin-left: 5.5rem !important;
    margin-right: 5.5rem !important;
  }
}


@media (min-width: 410px) {
  .rubai-nav{
    margin-left: 6.8rem !important;
    margin-right: 6.8rem !important;
  }
}


@media (min-width: 440px) {
  .rubai-nav{
    margin-left: 7.95rem !important;
    margin-right: 7.95rem !important;
  }
}


@media (min-width: 568px) {
  .rubai-nav{
    margin-left: 18.4rem !important;
    margin-right: 1.0rem !important;
  }
}


@media (min-width: 640px) {
  .rubai-nav{
    margin-left: 22.8rem !important;
  }
}


@media (min-width: 730px) {
  .rubai-nav{
    margin-left: 27.7rem !important;
  }
}


@media (min-width: 768px) {
  .rubai-nav{
    margin-left: 30.5rem !important;
  }
}


@media (min-width: 812px) {
  .rubai-nav{
    margin-left: 32.5rem !important;
  }
}


@media (min-width: 1024px) {
  .rubai-nav{
    margin-left: 42.6rem !important;
  }
  .dropbtn {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .dropdown-menu {
    min-width: 150px;
    max-width: 200px;
  }
  .dropdown-menu a {
    font-size: 1.0rem;
  }
    }

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .rubai-nav{
    margin-left: 86.6rem !important;
  }
  .dropdown-menu {
    min-width: 200px;
    max-width: 240px;
  }
  .dropdown-menu a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1320px) {
}
