<div class="d-flex flex-column">
  <div class="container">
    <h4 class="rub-head3 text-info font-weight-bold my-0">
      <hr class="top mt-1 mb-0" />
      ALLOCATIONS
      <hr class="bottom mt-0 mb-0" />
    </h4>
  <div class="rub-row-1 row mx-sm-0 px-sm-0">
                    <div class="rub-col-1 col-12 col-md-12 col-xl-12 mx-sm-0 mb-3 px-sm-0">

                <div class="card1 card shadow-lg mt-0 mb-3 pb-4">
                  <div class="card-header d-flex align-items-center">
                    <h5 class="rub-head4 text-info font-weight-bold my-0">
                      <hr class="top mt-1 mb-0" />
                      ALLOCATIONS/{{theBranch}}
                      <hr class="bottom mt-0 mb-0" />
                    </h5>
                  </div>
                  <div class="invest-card card-body p-2">
                    <div class="row">
                      <div class="col-lg-12 col-xs-12">
                        <div class="table-responsive pt-1">
                          <table
                            class="rubai-table table table-striped table-hover table-sm"
                          >
                            <thead class="bg-secondary text-info">
                              <tr>

                          <th>#</th>
                           <th> Date </th>
                          <th>  Time</th>
                           <th>  Allocation </th>
                            <th> Percentage </th>
                              <th>  Amount Got</th>
                                <th> Run Bal</th>
                                <th> Officer</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="listing"
                                *ngFor="let alloc of allocationMadeN$| async; let i = index"
                                class="text-success">


                                <!-- id: number;
                                date_allocation_made: string;
                                time_allocation_made: string;
                                allocatin_made: number;
                                percentage_used: number;
                                allocation_got: number;
                                allocation_total_got: number;
                                allocation_by_id: number; -->
                                <td>{{ alloc.id }}</td>
                                <td>{{ alloc.date_allocation_made  }}</td>
                                <td>{{ alloc.time_allocation_made  }}</td>
                                <td>{{ alloc.allocatin_made | number }} </td>
                                <td>{{ alloc.percentage_used | number }}</td>
                                <td>{{ alloc.allocation_got | number }}</td>
                                <td>{{ alloc.allocation_total_got | number }}</td>
                                <td>{{ alloc.allocation_by_id }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>
    <!--footer -->
    <div
      class="d-flex justify-content-center col-xs-12 col-lg-12 mt-4 mb-3 mx-auto"
    >
      <div class="small text-center text-info">
        Copyright &copy; 2020 - Runicorp Holdings Ltd
      </div>
    </div>
    <!--/ footer -->
  </div>
</div>
