<div
  class="jumbotron jumbotron-fluid shadow-lg"
  style="background: transparent !important;"
>
  <div class="row">
    <div class="col-12">
      <!-- <div class="card"> -->
      <div class="card-header">
        <h4 class="text-info text-center">Investment Transactions</h4>
      </div>
      <div class="card-body">
        <!-- <div class="row"> -->
        <!-- <div class="col"> -->

        <form [formGroup]="userForm" (ngSubmit)="postTxn()">
          <!-- <table class="table table-striped table-responsive jumbotron jumbotron-fluid shadow-lg"  style="background:transparent !important" > -->
          <!-- <tbody> -->
          <!-- <tr > -->
          <!-- <td > -->
          <h4>
            <span class="badge badge-pill badge-info"> TRANSACTION TYPE:</span>
          </h4>
          <!-- </td> -->

          <div class="form-group">
            <select
              formControlName="txn_type"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.txn_type.touched || fval.txn_type.dirty) &&
                  fval.txn_type.errors
              }"
              autocomplete="off"
              placeholder="Txn Type"
              ><i *ngIf="fval.txn_type.valid" class="material-icons"
                >check_circle</i
              >
              <option selected>Select TXN Type</option>
              <option>DEPOSIT</option>
              <option>WITHDRAWAL</option>
            </select>
            <div
              class="text-danger col"
              *ngIf="
                (fval.txn_type.touched || fval.txn_type.dirty) &&
                fval.txn_type.errors?.required
              "
            >
              The Txn Type is required
            </div>

            <div
              class="text-secondary col"
              *ngIf="
                (fval.txn_type.touched || fval.txn_type.dirty) &&
                fval.txn_type.errors?.belongTotxn_types
              "
            >
              Please select a valid Txn Type
            </div>
          </div>
          <div class="form-group">
            <label
              for="narration"
              [ngClass]="fval.narration.valid ? 'text-info' : ''"
              >Narration:<i *ngIf="fval.narration.valid" class="material-icons"
                >check_circle</i
              ></label
            >
            <!-- <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId"> -->
            <textarea
              formControlName="narration"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.narration.touched || fval.narration.dirty) &&
                  fval.narration.errors
              }"
              rows="2"
              cols="50"
            >
Bank Posting for Branch</textarea
            >

            <div
              class="text-danger col"
              *ngIf="
                (fval.narration.touched || fval.narration.dirty) &&
                fval.narration.errors?.required
              "
            >
              The narration is required
            </div>
          </div>

          <div class="form-group">
            <label
              for="branch_name"
              [ngClass]="fval.branch_name.valid ? 'text-info' : ''"
              >The Branch:<i
                *ngIf="fval.branch_name.valid"
                class="material-icons"
                >check_circle</i
              ></label
            >
            <!-- <input type="text"  list="branch_name"  formControlName="branch_name" class="form-control"  [ngClass]=" { 'is-invalid': (fval.branch_name.touched||fval.branch_name.dirty) && fval.branch_name.errors }" autocomplete="off" placeholder="Select The Branch"> -->

            <select
              formControlName="branch_name"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.branch_name.touched || fval.branch_name.dirty) &&
                  fval.branch_name.errors
              }"
              autocomplete="off"
              placeholder="Select The Branch"
            >
              <option selected>Select The Branch</option>
              <option *ngFor="let branch of theBranches$ | async">{{
                branch.branch_name
              }}</option>
            </select>
            <div
              class="text-danger col"
              *ngIf="
                (fval.branch_name.touched || fval.branch_name.dirty) &&
                fval.branch_name.errors?.required
              "
            >
              The branch_name is required
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.branch_name.touched || fval.branch_name.dirty) &&
                fval.branch_name.errors?.belongTobranch_names
              "
            >
              Please select a valid branch_name
            </div>
            <!-- <ngx-alerts></ngx-alerts> -->
          </div>

          <!-- </td> -->
          <!-- <td>  -->
          <div class="form-group">
            <h4><span class="badge badge-pill badge-success">AMOUNT:</span></h4>

            <input
              id="txn_amount"
              formControlName="txn_amount"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.txn_amount.touched || fval.txn_amount.dirty) &&
                  fval.txn_amount.errors
              }"
              placeholder="Txn Amount"
              autocomplete="off"
              (keyup)="onKey($event)"
            /><i *ngIf="fval.txn_amount.valid" class="material-icons"
              >check_circle</i
            >

            <div
              class="text-danger col"
              *ngIf="
                (fval.txn_amount.touched || fval.txn_amount.dirty) &&
                fval.txn_amount.errors?.required
              "
            >
              The txn amount is required
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.txn_amount.touched || fval.txn_amount.dirty) &&
                fval.txn_amount.errors?.hasNumber
              "
            >
              The txn amount should be in digits/numbers
            </div>
            <!-- <div class="text-danger col" *ngIf="(fval.txn_amount.touched||fval.txn_amount.dirty)  && fval.txn_amount.errors?.maxlength">The txn amount should not exceed 10 digits</div>
                <div class="text-danger col" *ngIf="(fval.txn_amount.touched||fval.txn_amount.dirty)  && fval.txn_amount.errors?.minlength">The txn amount  should have atleast 10 digits</div> -->
          </div>
          <!-- </td> -->
          <!-- </tr> -->
          <!-- </tbody> -->
          <!-- </table>                                         -->

          <div class="row d-flex flex-row">
            <div class="col-4">
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!userForm.valid"
                >
                  SAVE
                </button>
                <ngx-spinner
                  class="bg-warning bg-success"
                  size="medium"
                  type="ball-scale-multiple"
                >
                  <p class="text-light">Loading...</p>
                </ngx-spinner>
              </div>
              <ngx-alerts></ngx-alerts>
            </div>
            <!-- <div class="col-5"></div> -->
            <div class="col-3 d-flex flex-row justify-content-start mr-auto">
              <div class="form-group">
                <button
                  type="button"
                  class="btn btn-info mr-5"
                  (click)="revert()"
                >
                  CANCEL
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- </div> -->

        <!-- </div> -->
      </div>
      <div class="card-footer text-muted text-center">
        The Company:<span class="badge badge-warning"
          ><strong> {{ theCompany }}</strong>
        </span>
        The Branch:<span class="badge badge-danger"><strong></strong> </span>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
