.jumbotron-fluid {
  height: inherit;
}
.rub-head1 {
  position: relative;
  margin-left: 65px;
  margin-right: 65px;
}
.rub-head1 hr.top {
  width: 30%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #00162dc0;
  height: 3px;
}
.rub-head1 hr.bottom {
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 0px;
  background-color: #00162dc0;
  height: 3px;
}

.card-body {
  border-radius: 8px;
}

.btn-info {
  color: #d9dbdd;
  background-color: #51a416e0;
  border-color: #51a416e0;
}

.btn-info:hover {
  color: #d9dbdd;
  background-color: #53a817e1;
  border-color: #468d13d2;
}

.btn-info:focus {
  color: #d9dbdd;
  background-color: #53a817e1;
  border-color: #468d13d2;
}

button.btn {
  border-radius: 15px;
}

.pointerCursor {
  cursor: pointer;
}

h5 {
  font-size: 18px !important;
  text-align: center;
}

//media queries
@media (min-width: 320px) {
  .rub-head1 {
    position: relative;
    margin-left: 55px;
    margin-right: 55px;
  }
    .rub-head1 hr.top {
    margin-right: 28px;
  }
  .rub-head1 hr.bottom {
    margin-right: 28px;
  }
  .card-body {
    min-width: 290px;
    margin-bottom: 20px !important;
    padding-bottom: 25px !important;
  }
}

@media (min-width: 360px) {
  .rub-head1 {
    margin-left: 60px;
    margin-right: 60px;
  }
    .rub-head1 hr.top {
    max-width: 34px;
    margin-right: 44px;
  }
  .rub-head1 hr.bottom {
    margin-right: 44px;
  }
  .card-body {
    min-width: 330px;
  }
}

@media (min-width: 375px) {
  h5 {
    font-size: 19px !important;
  }
  .rub-head1 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .rub-head1 hr.top {
    max-width: 40px;
    margin-right: 95px;
  }
  .rub-head1 hr.bottom {
    margin-right: 95px;
  }
  .card-body {
    min-width: 345px;
  }
}

@media (min-width: 410px) {
  .rub-head1 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .rub-head1 hr.top {
    margin-right: 68px;
  }
  .rub-head1 hr.bottom {
    margin-right: 68px;
  }
}

@media (min-width: 414px) {
  .rub-head1 hr.top {
    margin-right: 68px;
  }
  .rub-head1 hr.bottom {
    margin-right: 68px;
  }
}

@media (min-width: 445px) {
  h5 {
    font-size: 20px !important;
  }
  .rub-head1 {
    margin-left: 35px;
    margin-right: 35px;
  }
  .rub-head1 hr.top {
    margin-right: 70px;
  }
  .rub-head1 hr.bottom {
    margin-right: 70px;
  }
}

@media (min-width: 568px) {
}

@media (min-width: 640px) {
  h5 {
    font-size: 22px !important;
  }
  .rub-head1 hr.top {
    margin-right: 64px;
  }
  .rub-head1 hr.bottom {
    margin-right: 64px;
  }
}

@media (min-width: 768px) {
  .card-body {
    margin-bottom: 20px !important;
  }
  .jumbotron-fluid {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 812px) {
  h5 {
    font-size: 24px !important;
  }
  .rub-head1 hr.top {
    margin-right: 57px;
  }
  .rub-head1 hr.bottom {
    margin-right: 57px;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
  }
}

@media (min-width: 1024px) {
  .card-body {
    margin-bottom: 30px !important;
    padding-top: 20px !important;
  }
  .jumbotron-fluid {
    padding-top: 10px !important;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  h5 {
    font-size: 27px !important;
  }
  .rub-head1 hr.top {
    max-width: 40px;
    margin-right: 46px;
  }
  .rub-head1 hr.bottom {
    margin-right: 46px;
  }
  .jumbotron-fluid {
    padding-top: 5px !important;
  }
}

@media (min-width: 1320px) {
}
