.rub-head1{
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}
.rub-head1 hr.top{
  width: 30%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 17px;
  background-color: #00162dc0;
  height: 3px;
}
.rub-head1 hr.bottom{
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 17px;
  background-color: #00162dc0;
  height: 3px;
}


.card-body {
  border-radius: 8px;
}
