<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-md-0 pt-0 pb-3 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid">
    <h5 class="rub-head1 text-info text-center font-weight-bold mt-4 mb-4">
      <hr class="top mt-1 mb-0" />
      ALLOCATIONS
      <hr class="bottom mt-0 mb-0" />
    </h5>
  <div class="card-body mt-1 pt-4 mb-0 pb-3 shadow-lg">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
      <div class="form-group text-primary">
        <label
          for="branch_name"
          [ngClass]="fval.branch_name.valid ? 'text-info' : ''"
          >Branch<i *ngIf="fval.branch_name.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <!--  -->
        <select class="form-control" formControlName="branch_name"
     (change)="setSelectedChanges($event)" >
     <option selected>Select The Branch</option>
     <option *ngFor="let branch of theBranches$ | async">{{
      branch.branch_name
    }}</option>

     </select>
        <div
          class="text-danger col"
          *ngIf="
            (fval.branch_name.touched || fval.branch_name.dirty) &&
            fval.branch_name.errors?.required
          "
        >
          The branch name is required!
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.branch_name.touched || fval.branch_name.dirty) &&
            fval.branch_name.errors?.belongTobranch_names
          "
        >
          Please select a valid branch name!
        </div>
        <!-- <ngx-alerts></ngx-alerts> -->
      </div>
    </form>
    <div class="d-flex my-2 py-2 mx-auto">
      <button
        class="btn btn-danger col-6 mx-auto"
        (click)="changeLocation()"      >
        Refresh
      </button>
</div>

</div>
</div>
</div>
