<div class="d-flex flex-column">
  <div class="container">
  <div class="rub-row-1 row mx-sm-0 px-sm-0">
                    <div class="rub-col-1 col-12 col-md-12 col-xl-12 mx-sm-0 mb-3 px-sm-0">

                <div class="card1 card shadow-lg mt-0 mb-3 pb-4">
                  <div class="card-header d-flex align-items-center">
                    <h5 class="rub-head4 text-info font-weight-bold my-0">
                      <hr class="top mt-1 mb-0" />
                      ALLOCATIONS/BRANCH
                      <hr class="bottom mt-0 mb-0" />
                    </h5>
                  </div>
                  <div class="invest-card card-body p-2">
                    <div class="row">
                      <div class="col-lg-12 col-xs-12">
                        <div class="table-responsive pt-1 pt-md-3">
                          <table
                            class="rubai-table table table-striped table-hover table-sm"
                          >
                            <thead class="bg-secondary text-info mx-2 px-2">
                              <tr class="mx-3 px-2">
                                <th>Allocations</th>
                                <th>Movements</th>
                           <th> Branch </th>
                          <th> Allocated </th>
                           <th> Transferred </th>
                            <th> Balance </th>
                              <th>  Updated D </th>
                                <th> Updated T </th>


                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="listing"
                                *ngFor="let alloc of  allocationsToal$ | async; let i = index"
                                class="text-primary">



                                <td> <button  class="btn btn-info col-9" [routerLink]="['/dashboardadmin/viewbranchallocations/viewportallocationsmade', alloc.branch_id,alloc.branch_name]"><i class="fa fa-fork" aria-hidden="true"></i></button></td>

                                <td> <button  class="btn btn-info col-9" [routerLink]="['/dashboardadmin/viewbranchallocations/viewportallocationsledger', alloc.branch_id,alloc.branch_name]"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button></td>

                                <!-- <td>{{ alloc.id }}</td> -->
                                <td>{{ alloc.branch_name  }}</td>
                                <td>{{ alloc.total_allocations_made  | number}}</td>
                                <td>{{ alloc.total_allocations_deposited | number}} </td>
                                <td>{{ alloc.total_allocations_balance | number}}</td>
                                <td>{{ alloc.last_updated_date }}</td>
                                <td>{{ alloc.last_updated_time }}</td>

                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>
    <!--footer -->
    <div
      class="d-flex justify-content-center col-xs-12 col-lg-12 mt-4 mb-3 mx-auto"
    >
      <div class="small text-center text-info">
        Copyright &copy; 2020 - Runicorp Holdings Ltd
      </div>
    </div>
    <!--/ footer -->
  </div>
</div>
