.jumbotron-fluid {
  height: inherit;
}
.rub-head1 {
  position: relative;
  margin-left: 65px;
  margin-right: 65px;
}
.rub-head1 hr.top {
  width: 30%;
  min-width: 15px;
  max-width: 34px;
  position: relative;
  margin-right: 6px;
  margin-bottom: 0px;
  background-color: #00162dc0;
  height: 3px;
}
.rub-head1 hr.bottom {
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 6px;
  background-color: #00162dc0;
  height: 3px;
}

.card-body {
  width: 100%;
  border-radius: 8px;
}

.btn-info {
  color: #d9dbdd;
  background-color: #51a416e0;
  border-color: #51a416e0;
}

.btn-info:hover {
  color: #d9dbdd;
  background-color: #53a817e1;
  border-color: #468d13d2;
}

.btn-info:focus {
  color: #d9dbdd;
  background-color: #53a817e1;
  border-color: #468d13d2;
}

button.btn {
  border-radius: 15px;
}

.pointerCursor {
  cursor: pointer;
}

h5 {
  font-size: 16px !important;
  text-align: center;
}

//media queries
@media (min-width: 320px) {
  .rub-head1 {
    margin-left: 67px;
    margin-right: 67px;
  }
  .rub-head1 hr.top {
    margin-right: 6px;
  }
  .rub-head1 hr.bottom {
    margin-right: 6px;
  }
  .card-body {
    margin-bottom: 98px !important;
    padding-bottom: 25px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 20px !important;
  }
}

@media (min-width: 360px) {
  h5 {
    font-size: 18px !important;
  }
  .rub-head1 {
    margin-left: 70px;
    margin-right: 70px;
  }
  .rub-head1 hr.top {
    margin-right: 22px;
  }
  .rub-head1 hr.bottom {
    margin-right:22px;
  }
  .card-body {
    min-width: 330px;
    margin-bottom: 150px !important;
  }
  .jumbotron-fluid {
padding-top: 14px !important;
    padding-bottom: 24px !important;
  }
}

@media (min-width: 375px) {
  .rub-head1 {
    margin-left: 75px;
    margin-right: 75px;
  }
  .rub-head1 hr.top {
    margin-right: 24px;
  }
  .rub-head1 hr.bottom {
    margin-right: 24px;
  }
  .card-body {
    min-width: 345px;
    margin-bottom: 160px !important;
  }
  .jumbotron-fluid {
padding-top: 30px !important;
    padding-bottom: 24px !important;
  }
}

@media (min-width: 410px) {
  .rub-head1 {
    margin-left: 90px;
    margin-right: 90px;
  }
  .rub-head1 hr.top {
    margin-right: 10px;
  }
  .rub-head1 hr.bottom {
    margin-right: 10px;
  }
  .card-body {
    margin-bottom: 200px !important;
  }
  .jumbotron-fluid {
padding-top: 50px !important;
    padding-bottom: 28px !important;
  }
}

@media (min-width: 414px) {
  .rub-head1 {
    margin-left: 92px;
    margin-right: 92px;
  }
  .rub-head1 hr.top {
    margin-right: 8px;
  }
  .rub-head1 hr.bottom {
    margin-right: 8px;
  }
  .jumbotron-fluid {
        padding-bottom: 34px !important;
      }
    }

@media (min-width: 445px) {
  h5 {
    font-size: 20px !important;
  }
  .rub-head1 hr.top {
    margin-right: 0px;
  }
  .rub-head1 hr.bottom {
    margin-right: 0px;
  }
  .card-body {
    margin-bottom: 115px !important;
  }
  .jumbotron-fluid {
padding-top: 20px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 568px) {
  .rub-head1 {
    margin-left: 84px;
    margin-right: 84px;
  }
  .rub-head1 hr.top {
    margin-right: 8px;
  }
  .rub-head1 hr.bottom {
    margin-right: 8px;
  }
  .card-body {
    margin-bottom: 20px !important;
    padding-top: 15px !important;
  }
  .jumbotron-fluid {
padding-top: 0px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .rub-head1 {
    margin-left: 90px;
    margin-right: 90px;
  }
  .rub-head1 hr.top {
    margin-right: 3px;
  }
  .rub-head1 hr.bottom {
    margin-right: 3px;
  }
  .card-body {
    margin-bottom: 260px !important;
  }
  .jumbotron-fluid {
padding-top: 130px !important;
    padding-bottom: 28px !important;
  }
}

@media (min-width: 812px) {
  h5 {
    font-size: 24px !important;
  }
  .rub-head1 hr.top {
    margin-right: 0px;
    max-width: 36px;
  }
  .rub-head1 hr.bottom {
    margin-right: 0px;
  }
  .card-body {
    margin-bottom: 20px !important;
  }
  .jumbotron-fluid {
padding-top: 0px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 1024px) {
  .card-body {
    margin-bottom: 320px !important;
    padding-top: 20px !important;
    padding-bottom: 25px !important;
  }
  .jumbotron-fluid {
padding-top: 160px !important;
    padding-bottom: 28px !important;
  }
}

@media (min-width: 1100px) {
  h5 {
    font-size: 27px !important;
  }
}

@media (min-width: 1280px) {
  .rub-head1 hr.top {
    margin-right: 1px;
    max-width: 38px;
  }
  .rub-head1 hr.bottom {
    margin-right: 1px;
  }
  .card-body {
    margin-bottom: 220px !important;
  }
  .jumbotron-fluid {
padding-top: 140px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 1320px) {
}
