.rub-head1{
  position: relative;
  margin-left: 65px;
  margin-right: 65px;
}
.rub-head1 hr.top{
  width: 30%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 10px;
  background-color: #00162dc0;
  height: 3px;
}
.rub-head1 hr.bottom{
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 10px;
  background-color: #00162dc0;
  height: 3px;
}


.card-body {
  border-radius: 8px;
}

.btn-info {
  color: #d9dbdd;
  background-color: #51a416e0;
  border-color: #51a416e0;
}

.btn-info:hover {
  color: #d9dbdd;
  background-color: #53a817e1;
  border-color: #468d13d2
}

.btn-info:focus {
  color: #d9dbdd;
  background-color: #53a817e1;
  border-color: #468d13d2
}

button.btn {
  border-radius: 15px;
}

.text-danger {
  color: #d3112bf3 !important;
}

.text-warning {
  color: #eee206ef !important;
}

.bg-danger {
  background-color: #d3112bf3 !important;
}

.pointerCursor {
  cursor: pointer;
}

h5 {
  font-size: 15px !important;
}


//media queries

@media (min-width: 360px) {
  h5 {
    font-size: 18px !important;
  }
  .rub-head1{
    margin-left: 70px;
    margin-right: 70px;
  }
    .rub-head1 hr.top{
      max-width: 34px;
      margin-right: 10px;
  }
  .rub-head1 hr.bottom{
    margin-right: 10px;
  }
  }

@media (min-width: 375px) {
  .rub-head1{
    margin-left: 75px;
    margin-right: 75px;
  }
    .rub-head1 hr.top{
      margin-right: 15px;
  }
  .rub-head1 hr.bottom{
    margin-right: 15px;
  }

}


@media (min-width: 410px) {
  .rub-head1{
    margin-left: 90px;
    margin-right: 90px;
  }
    .rub-head1 hr.top{
      margin-right: 22px;
  }
  .rub-head1 hr.bottom{
    margin-right: 22px;
  }

}


@media (min-width: 414px) {
  .rub-head1{
    margin-left: 94px;
    margin-right: 94px;
  }
    .rub-head1 hr.top{
      margin-right: 16px;
  }
  .rub-head1 hr.bottom{
    margin-right: 16px;
  }

}


@media (min-width: 445px) {
  h5 {
    font-size: 20px !important;
  }
  .rub-head1{
    margin-left: 105px;
    margin-right: 105px;
  }
    .rub-head1 hr.top{
      margin-right: 12px;
  }
  .rub-head1 hr.bottom{
    margin-right: 12px;
  }

}


@media (min-width: 568px) {
  .card-body {
    width: 345px !important;
    margin-bottom: 0rem;
  }

  h5 {
    font-size: 20px !important;
  }
  .rub-head1{
    margin-left: 84px;
    margin-right: 84px;
  }
    .rub-head1 hr.top{
      margin-right: 0px;
  }
  .rub-head1 hr.bottom{
    margin-right: 0px;
  }
}


@media (min-width: 640px) {}


@media (min-width: 768px) {}

@media (min-width: 812px) {
  h5 {
    font-size: 24px !important;
  }
  .rub-head1 hr.top{
    max-width: 38px;
}
}


@media (min-width: 1024px) {}

@media (min-width: 1100px) {
      h5 {
    font-size: 27px !important;
  }
}

@media (min-width: 1280px) {
  .rub-head1 hr.top{
    max-width: 42px;
}

}


@media (min-width: 1320px) {}
