.card-body {
  height: inherit;
  min-height: 450px !important;
  max-height: 520px !important;
  margin-bottom: 0rem;
  border-radius: 8px;
}

button.btn {
  width: 100% !important;
  border-radius: 15px;
}
.btn-info {
  color: #d9dbdd;
  background-color: #51a416e0;
  border-color: #51a416e0
}
  .btn-info:hover {
    color: #d9dbdd;
    background-color: #5fc219e1;
    border-color: #5fc219e1
  }

  .btn-info:focus {
    color: #d9dbdd;
    background-color: #5fc219e1;
    border-color: #5fc219e1
  }
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem rgba(126, 235, 36, 0.5)
}
.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #83c057e0;
  border-color: #83c057e0
}

.pointerCursor {
  cursor: pointer;
}


//Media queries
@media (min-width: 280px) {
}


@media (min-width: 360px) {
.card-body {
  width: 330px;
}

}


@media (min-width: 568px) {
.card-body {
  width: 345px !important;
}
h3{
  font-size: 20px;
}
}


@media (min-width: 812px) {
  h3 {
    font-size: 24px;
  }
}


@media (min-width: 1100px) {
  h3 {
    font-size: 28px;
  }
}
